.container {
  width: 100% !important;
}

.container .top-wrap {
  width: 100%;
  height: 55px;
  background: #A465FD;
}

.container .top-wrap .title {
  color: #fff;
  font-family: 'Lobster';
  font-size: 32px;
  text-align: center;
  padding-top: 10px;
}

.container .content {
  width: 100%;
  height: auto;
}

.container .content .article {
  width: 350px;
  height: auto;
  float: left;
}

.container .content .article li {
  list-style: none;
}

.container .content .article li .photo {
  width: 350px;
  height: auto;
  float: left;
}

.container .content .article li .photo img {
  width: 350px;
  padding-top: 10px;
  float: left;
}

.container .content .article li .photo-info {
  width: 350px;
  text-align: center;
  float: left;
}

.container .content .post {
  width: 100%;
}

.container .content .post .img-wrap {
  width: 700px;
  margin: 0 auto;
}

.container .content .post .img-wrap img {
  padding-top: 10px;
  width: 700px;
}
