{% load static %}

<article id="post-{{ post.pk }}" class="post">
  <header>
    <div class="post-header-left">
      <img src="" alt="">
      <span class="header-author">{{ post.author }}</span>
    </div>
    <div class="post-header-right">

    </div>
  </header>

  <div class="post-photo-container">
    {% if type == list %}
    <a href="{% url 'post:post_detail' post_pk=post.pk %}">
      <img src="{{ post.photo.url }}" alt="">
    </a>
    {% else %}
    <img src="{{ post.photo.url }}" alt="">
    {% endif %}
  </div>
  <div class="post-bottom">
    <div class="post-btn-container clearfix">
      <div class="btn-left">

        <!-- Post Like & Unlike -->
        <form action="{% url 'post:post_like_toggle' post_pk=post.pk %}" method="POST" class="form-inline">
          {% csrf_token %}
          <button type="submit" class="btn">
            {% if user in post.like_users.all %}
              <img src="{% static 'images/post_like.png' %}" alt="">
            {% else %}
              <img src="{% static 'images/post_unlike.png' %}" alt="">
            {% endif %}
          </button>
        </form>

        <a href="#">
          <img src="{% static 'images/post_comment.png' %}" alt="">
        </a>
      </div>
      <div class="btn-right">
        {% if user == post.author %}
        <a href="{% url 'post:post_modify' post_pk=post.pk %}" class="btn">수정하기</a>
        <a href="{% url 'post:post_delete' post_pk=post.pk %}" class="btn">삭제하기</a>
        {% endif %}
      </div>
    </div>
    <p class="comment">
      {% if post.like_count == 0 %}
        처음으로 좋아요를 눌러보세요.
      {% else %}
        {% for user in post.like_users.all %}
            {{ user }},
        {% endfor %}
        님이 좋아합니다.
      {% endif %}
    </p>
    <div class="post-comment-container">
      {% if post.my_comment %}
        {{ post.my_comment }}
      {% endif %}
    {% for comment in post.comment_set.all %}
        {% if comment != post.my_comment %}
          <p>
            {{ comment.author }}
            {{ comment.content }}
          </p>
        {% endif %}
    {% endfor %}
    </div>
    <div class="comment-form">
      <form action="{% url 'post:comment_create' post_pk=post.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <button type="submit">댓글등록</button>
      </form>
    </div>
    <p class="created">{{ post.created_date }}</p>
  </div>
</article>
